# LOGGAR OCH FEL
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
# NODE & BYGGFILER
node_modules/
dist/
dist-ssr/
*.local
.env
# EDITORER OCH SYSTEMFILER
.vscode/*
!.vscode/extensions.json
*.code-workspace
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# FRONTEND / SCSS-KOMPILERING
# Ignorera gamla/felaktiga css-filer
public/css/style.css
public/css/main.css.map
public/css/jonatan.css
# Tillåt main.css (rätt Sass-kompilering)
!public/css/main.css
