// Grundinstyling för typsnitt, margin/padding på body/html,

@use "./variables";

:root {
  font-family: "Roboto", sans-serif;
  color: variables.$text-color;
  background-color: variables.$bg-color;
}
html,
body {
  color: variables.$text-color;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 2rem;
  padding-top: 0;
  max-width: 1000px;
  margin: auto;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}

