// Grundinstyling för typsnitt, margin/padding på body/html,

@use "./variables";

:root {
  font-family: "Roboto", sans-serif;
  color: variables.$text-color;
  background-color: variables.$bg-color;
}
html,
body {
  color: variables.$text-color;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  // border: orange 3px solid !important;
  // background-color: aqua !important;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
