// Alla olika typer av knappar och deras lägen – t.ex. standard-knappar, cta-button hover/active-states osv.

// .button {
//   padding: 15px 20px;
//   border: none;
//   cursor: pointer;
// }

// Product-modal-buttons

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.add-to-cart-btn {
  margin-top: auto;
  background-color: #319a84;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #267666;
  }

  @media (max-width: 768px) {
    padding: 0.75rem 1.2rem;
    font-size: 1rem;
  }
}

.pagination-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;

  &.active {
    background-color: #319a84;
    color: white;
    font-weight: bold;
  }

  &:hover {
    background-color: #267666;
  }

  @media (max-width: 768px) {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

//login

#userBtn,
#adminBtn {
  padding: 0.8rem 1.2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#userBtn {
  border-radius: 0 10px 0 0;
}

#adminBtn {
  border-radius: 10px 0 0 0;
}

//Admin-dashboard

#logoutBtn {
  background-color: #319a84;
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;

  #logoutBtn:hover {
    background-color: #267666;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    text-align: center;
  }
}
