.custom-search-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  max-width: 600px;
  width: 100%;
}

.custom-search-container {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 100%;
}

.custom-search-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-input {
  border: none;
  background: transparent;
  font-size: 1rem;
  flex: 1;
  height: 40px;
  padding-left: 1.5rem;

  &:focus {
    outline: none;
  }
}

.search-button {
  background-color: #319a84;
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #267666;
  }
}

.search-icon {
  color: #6c757d;
}
